<!DOCTYPE html>
html(lang="ja")
	head
		title PyLadies Tokyo
		meta(charset="UTF-8")
		meta(name='keywords', keywords="")
		//- meta(name="robots", content="noindex,nofollow")
		meta(name='description', content="PyLadies Tokyoは,PyLadiesの東京支部として女性Pythonistaを繋ぐために活動しています．")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="ja_JP")
		meta(property="og:site_name", content='PyLadies Tokyo')
		meta(property="og:title", content='PyLadies Tokyo')
		meta(property="og:description", content="PyLadies Tokyoは,PyLadiesの東京支部として女性Pythonistaを繋ぐために活動しています．")
		meta(property="og:image", content= 'https://pyladiestokyo.github.io/images/ogp.jpg')
		link(rel="stylesheet",href="./css/style.css")
		link(rel="shortcut icon", href="./favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.3.1/css/all.css",integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU",crossorigin="anonymous")

	body
		header.header
			a(href="https://pyladiestokyo.github.io").logo
				img(src="./images/pyladies_tokyo_logo.png", alt="PyLadies Tokyo")
			.container
				.row
					.col-6
						h1
							a.header__ttl(href="https://pyladiestokyo.github.io").text__s.text__m__pc.text__bold PyLadies Tokyo
					.col-6
						span.header__menu.text__right
							i.text__m.fas.fa-bars
		nav.navi
			.container
				span.header__menu.text__center
					i.text__m.fas.fa-times
			.container
				.row
					.col-12.col-m-6.offset-m-6
						ul
							li
								a(href="https://pyladiestokyo.github.io").text__m.text__n__pc.text__bold.text__center TOP#[span.text__s.text__normal トップ]
							li
								a(href="https://pyladiestokyo.github.io/coc/index.html").text__m.text__n__pc.text__bold.text__center Code of Conduct#[span.text__s.text__normal 行動規範]
							li
								a(href="https://pyladiestokyo.github.io/caravan/index.html").text__m.text__n__pc.text__bold.text__center Caravan#[span.text__s.text__normal キャラバン]
							li
								a(href="https://pyladiestokyo.github.io/install/index.html").text__m.text__n__pc.text__bold.text__center Install Chips#[span.text__s.text__normal インストールチップス]
							li.sns
								a(href="https://pyladies-tokyo.connpass.com/",target="_blank").text__m.text__n__pc.text__bold.text__center connpass #[i.fas.fa-external-link-alt.text__s]#[span.text__s.text__normal コンパス]
							li.sns
								a(href="https://www.facebook.com/PyLadiesTokyo",target="_blank").text__m.text__n__pc.text__bold.text__center facebook #[i.fas.fa-external-link-alt.text__s]#[span.text__s.text__normal フェイスブック]
							li.sns
								a(href="hhttps://twitter.com/PyLadiesTokyo",target="_blank").text__m.text__n__pc.text__bold.text__center twitter #[i.fas.fa-external-link-alt.text__s]#[span.text__s.text__normal ツイッター]
							li.sns
								a(href="https://github.com/PyLadiesTokyo",target="_blank").text__m.text__n__pc.text__bold.text__center github #[i.fas.fa-external-link-alt.text__s]#[span.text__s.text__normal ギットハブ]
		main
			section.kv
				.container
					.row
						.col-12
							h1.text__l.text__center.text__bold Welcome! We Are #[span.wsnr PyLadies Tokyo!]
			section.about
				.container
					.row
						.col-12.col-m-12
							h2.text__m.text__bold PyLadies Tokyo とは
							p.text__justify PyLadiesは、Pythonが好きな女性を結ぶ国際的なコミュニティです。Pythonが好きであれば初心者／熟練者問わずどなたでも参加できます。より詳しい情報については #[a(href="https://www.pyladies.com/", target="_blank").text__bold PyLadies 公式ページ]をご覧下さい。
							p.text__justify PyLadies Tokyoは,PyLadiesの東京支部として女性Pythonistaを繋ぐために活動しています。基本的には月一のMeetupを主な活動としていますが、#[a(href="https://www.pycon.jp/",target="_blank").text__bold PyCon JP]のカンファレンスに参加したり、#[a(href="https://djangogirls.org/tokyo/",target="_blank").text__bold Django Girls Tokyo]と協力してWorkshopを開催するなど、その他にも様々な活動を行っています。PyLadies Tokyoの各種イベントについては、#[a(href="https://pyladies-tokyo.connpass.com/",target="_blank").text__bold connpassページ]をご参照下さい。 
							p.text__justify PyLadies Tokyoについてご意見・ご質問などありましたら、#[a(href="mailto: tokyo@pyladies.com").text__bold tokyo@pyladies.com]までお気軽にお問い合わせ下さい。
			section.wanted
				.container
					.row
						.col-12.col-m-6
							h3.text__m.text__bold #[i.far.fa-smile] 参加者募集中！
							p.text__justify 本コミュニティではPythonが好きな女性の参加を心待ちにしています。
							p.text__justify 初心者／熟練者問いません。Pythonでコードを書いたことがない・・・という方でも、Pythonに興味があればお気軽にご参加下さい（Pythonを用いた初心者向けイベントも行っています） 
							p.text__justify PyLadies Tokyoでは、チャットツールのSlackを使ってメンバー同士コミュニケーションをとっています。PyLadies Tokyoの活動に興味のある方は、この機会にぜひ#[a(href="https://slack.com/intl/ja-jp/",target="_blank").text__bold Slack]チームに参加してみませんか？ 
							.text__left
								a(href="http://bit.ly/1fqJkNu",target="_blank").text__bold.btn PyLadies JP Slackアカウント申請
							ul.alert
								li.ttl
									p.text__m.text__bold #[i.fas.fa-exclamation-circle] 注意事項
								li.text__n 男性の方の申請はご遠慮ください
								li.text__n 無料で利用できます
								li.text__n PyLadies Kyotoの活動に興味がある方もこちらからご参加いただけます
						.col-12.col-m-6.sns
							.twitter
								<a class="twitter-timeline" data-lang="ja" data-link-color="#c92840" href="https://twitter.com/PyLadiesTokyo?ref_src=twsrc%5Etfw">Tweets by PyLadiesTokyo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							.links
								h4.text__m.text__bold #[i.fas.fa-share-alt] ソーシャルメディア
								ul
									li
										a(href="https://pyladies-tokyo.connpass.com/",target="_blank").text__n.text__bold.text__center #[img(src="./images/connpass.png")]connpass
									li
										a(href="https://www.facebook.com/PyLadiesTokyo",target="_blank").text__n.text__bold.text__center #[i.fab.fa-facebook-f]facebook
									li
										a(href="https://twitter.com/PyLadiesTokyo",target="_blank").text__n.text__bold.text__center #[i.fab.fa-twitter]twitter
									li
										a(href="https://github.com/PyLadiesTokyo",target="_blank").text__n.text__bold.text__center #[i.fab.fa-github]github
			section
				.container
					.row
						.col-12.col-m-6
							h5.text__m.text__bold #[i.fas.fa-hands-helping] スポンサー
							ul.sponser
								li
									a(href="https://www.pycon.jp/",target="_blank")
										img(src="./images/pyconjp.png", alt="PyCon jp")
								li
									a(href="https://www.jetbrains.com/",target="_blank")
										img(src="./images/jetbrains.png", alt="jet brains")
							.article
								h5.text__m.text__bold #[i.fas.fa-envelope-open] イベント会場などの協賛
								.text__left
									a(href="https://docs.google.com/forms/d/e/1FAIpQLSduF5G8zQHNgSOEUxz1DG3pJ4HWP43c18BA4PH0cnEz_hIHOQ/viewform",target="_blank").text__bold.btn フォームはこちら
						.col-12.col-m-6.supoort.clear__mg
							h5.text__m.text__bold #[i.fas.fa-splotch] 関連サイト
							ul.sponser
								li
									a(href="https://www.pycon.jp/",target="_blank")
										img(src="./images/pyconjp.png", alt="PyCon jp")
								li
									a.djangogirls(href="https://djangogirls.org/tokyo/",target="_blank")
										img(src="./images/djangogirls.png", alt="Django girls Tokyo")


		footer.footer
			.container
				.row
					.col-12
						p.text__s.text__center Copyright PyLadies Tokyo 2019
		
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" ,integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" ,crossorigin="anonymous")
		script(src="./js/tem.js")
