

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Developing on the Global PyLadies Website &mdash; PyLadies Organizer Handbook</title>
  

  
  
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  

    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:'../../',
        VERSION:'2.1.0',
        COLLAPSE_INDEX:false,
        FILE_SUFFIX:'.html',
        HAS_SOURCE:  true
      };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="../../_static/translations.js"></script>

    

  

  
  
    <link rel="stylesheet" href="../../_static/css/custom.css" type="text/css" />
    <script type="text/javascript" src="_static/js/theme.js"></script>
  

  
        <link rel="author" title="このドキュメントについて"
              href="../../about.html"/>
        <link rel="index" title="索引"
              href="../../genindex.html"/>
        <link rel="search" title="検索" href="../../search.html"/>
    <link rel="top" title="PyLadies Organizer Handbook" href="../../index.html"/>
        <link rel="up" title="Current Organizers" href="../index.html"/>
        <link rel="next" title="Creating your own Local Website" href="local.html"/>
        <link rel="prev" title="Advice" href="../eventhosting/advice.html"/> 

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="../../index.html" class="icon icon-home"> PyLadies Handbook</a>
        <form class="wy-form" action="../../search.html" method="get">
  <input type="text" name="q" placeholder="Search docs" />
  <input type="hidden" name="check_keywords" value="yes" />
  <input type="hidden" name="area" value="default" />
</form>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix">
        
        
            <ul>
<li class="toctree-l1"><a class="reference internal" href="../../overview.html">概要</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../overview.html#about">PyLadiesについて</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../overview.html#how-to-use-this-kit">このキットの使い方</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../prospective/index.html">Prospective Organizers</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../prospective/index.html#things-to-think-about">Things to Think About</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../prospective/index.html#process-overview">Process Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../prospective/index.html#process-checklist">Process Checklist</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../prospective/index.html#faqs">FAQs</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../prospective/index.html#questions-contact">Questions &amp; Contact</a></li>
</ul>
</li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Current Organizers</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../index.html#handy-links">Handy Links</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#event-hosting">Event Hosting</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../index.html#admin-stuff">Admin Stuff</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#global-organization">Global Organization</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#miscellaneous-helpful-stuff">Miscellaneous Helpful Stuff</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#difficult-stuff">Difficult Stuff</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../member/index.html">メンバー参照</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../member/index.html#about-pyladies">PyLadies について</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../member/index.html#joining-pyladies">PyLadiesへの参加</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../member/index.html#difficult-stuff">私たちを取り巻く難しい問題</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../global/index.html">Global PyLadies Organization</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../global/index.html#contact">Contact</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../misc/index.html">Miscellaneous</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../misc/logo.html">PyLadies Logo Usage</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../misc/trademark.html">PyLadies Trademark Usage Policy</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../changelog.html">What's new?</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../changelog.html#v2-0-5">v2.0.5</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../changelog.html#v2-0-4">v2.0.4</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../changelog.html#v2-0-pypi-release">v2.0 PyPI Release</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../changelog.html#v1-0-initial-release">v1.0 Initial Release</a></li>
</ul>
</li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="/">PyLadies Handbook</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <ul class="wy-breadcrumbs">
  <li><a href="../../index.html">Docs</a> &raquo;</li>
  <li><a href="">Developing on the Global PyLadies Website</a></li>
  
</ul>
<hr/>

          
  <div class="section" id="developing-on-the-global-pyladies-website">
<h1>Developing on the Global PyLadies Website<a class="headerlink" href="#developing-on-the-global-pyladies-website" title="このヘッドラインへのパーマリンク">¶</a></h1>
<div class="contents local topic" id="id1">
<ul class="simple">
<li><a class="reference internal" href="#setup-your-machine" id="id9">Setup your Machine</a></li>
<li><a class="reference internal" href="#adding-your-location" id="id10">Adding your Location</a><ul>
<li><a class="reference internal" href="#process" id="id11">Process</a></li>
<li><a class="reference internal" href="#config-yml-file" id="id12">config.yml File</a></li>
<li><a class="reference internal" href="#adding-new-link-types" id="id13">Adding New Link Types</a></li>
</ul>
</li>
<li><a class="reference internal" href="#making-a-simple-location-page" id="id14">Making a Simple Location Page</a></li>
<li><a class="reference internal" href="#blogging-or-writing-a-resource-for-the-main-website" id="id15">Blogging or Writing a Resource for the Main Website</a><ul>
<li><a class="reference internal" href="#making-a-blog-post" id="id16">Making a Blog Post</a></li>
<li><a class="reference internal" href="#writing-a-resource" id="id17">Writing a Resource</a></li>
</ul>
</li>
<li><a class="reference internal" href="#developing-the-main-website" id="id18">Developing the Main Website</a><ul>
<li><a class="reference internal" href="#current-layout" id="id19">Current Layout</a></li>
</ul>
</li>
<li><a class="reference internal" href="#using-mynt" id="id20">Using mynt</a></li>
</ul>
</div>
<div class="section" id="setup-your-machine">
<span id="setupenv"></span><h2><a class="toc-backref" href="#id9">Setup your Machine</a><a class="headerlink" href="#setup-your-machine" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p>To make <em>any</em> changes, let's setup your machine first.</p>
<ol class="arabic simple">
<li><a class="reference external" href="https://help.github.com/articles/fork-a-repo">Fork</a> the <a class="reference external" href="https://github.com/pyladies/pyladies">pyladies/pyladies</a> repository to your own (or your local PyLadies) GitHub account.</li>
<li>Locally clone <strong>your</strong> fork of the repository.</li>
<li>Create a new <a class="reference external" href="http://simononsoftware.com/virtualenv-tutorial/">virtualenv</a>.  Within that virtualenv, run <code class="docutils literal notranslate"><span class="pre">pip</span> <span class="pre">install</span> <span class="pre">-r</span> <span class="pre">requirements.txt</span></code>.</li>
</ol>
</div>
<div class="section" id="adding-your-location">
<h2><a class="toc-backref" href="#id10">Adding your Location</a><a class="headerlink" href="#adding-your-location" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p>Nearly all locations are listed on our <a class="reference external" href="http://www.pyladies.com/locations">locations</a> page.  To get listed on there, <strong>you</strong> must put it there. :-)</p>
<div class="section" id="process">
<h3><a class="toc-backref" href="#id11">Process</a><a class="headerlink" href="#process" title="このヘッドラインへのパーマリンク">¶</a></h3>
<ol class="arabic simple">
<li>Setup your machine following the <a class="reference internal" href="#setupenv"><span class="std std-ref">Setup your Machine</span></a> instructions above.</li>
<li>Within the <code class="docutils literal notranslate"><span class="pre">www</span></code> directory, make an edit to the <code class="docutils literal notranslate"><span class="pre">config.yml</span></code> file.  More about the <code class="docutils literal notranslate"><span class="pre">config.yml</span></code> file structure <a class="reference internal" href="#config"><span class="std std-ref">below</span></a>.</li>
<li><strong>Optional:</strong> If you don't have a website setup yet, you can make a simple static page within <code class="docutils literal notranslate"><span class="pre">www/locations/</span></code>.  Read <a class="reference internal" href="#simplepage"><span class="std std-ref">Making a Simple Location Page</span></a> for more information.</li>
<li>Test your changes by running <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">gen</span> <span class="pre">-f</span> <span class="pre">_site</span> <span class="pre">&amp;&amp;</span> <span class="pre">mynt</span> <span class="pre">serve</span> <span class="pre">_site</span></code> (<strong>within</strong> the <code class="docutils literal notranslate"><span class="pre">www</span></code> directory).</li>
<li>Commit the code locally, and push it up to <strong>your</strong> fork.</li>
<li>Make a pull request against the <code class="docutils literal notranslate"><span class="pre">pyladies/pyladies</span></code> repository.</li>
</ol>
</div>
<div class="section" id="config-yml-file">
<span id="config"></span><h3><a class="toc-backref" href="#id12">config.yml File</a><a class="headerlink" href="#config-yml-file" title="このヘッドラインへのパーマリンク">¶</a></h3>
<p>The <a class="reference external" href="https://github.com/pyladies/pyladies/blob/master/www/config.yml">config.yml</a> file contains most (if not all) of the configuration for the main PyLadies website.</p>
<div class="section" id="editing">
<h4>Editing<a class="headerlink" href="#editing" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>To make your location show up on our <a class="reference external" href="http://www.pyladies.com/locations">locations</a> page, create an entry under <code class="docutils literal notranslate"><span class="pre">chapters</span></code>.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">Please - maintain alphabetical order of the <code class="docutils literal notranslate"><span class="pre">chapters</span></code> listing!!</p>
</div>
<p>Here are the available configuration items you can set, and what they mean/show up as on the <a class="reference external" href="http://www.pyladies.com/locations">locations</a> page.</p>
<p>A complete example:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Austin, TX</span>
  <span class="l l-Scalar l-Scalar-Plain">meetup_id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5947662</span>
  <span class="l l-Scalar l-Scalar-Plain">website</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">atx.pyladies.com</span>
  <span class="l l-Scalar l-Scalar-Plain">image</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pyladies_atx.jpeg</span>
  <span class="l l-Scalar l-Scalar-Plain">email</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">atx@pyladies.com</span>
  <span class="l l-Scalar l-Scalar-Plain">twitter</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pyladiesATX</span>
  <span class="l l-Scalar l-Scalar-Plain">meetup</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pyladies-atx</span>
  <span class="l l-Scalar l-Scalar-Plain">location</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">latitude</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">30.2711286</span>
      <span class="l l-Scalar l-Scalar-Plain">longitude</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">-97.7436995</span>
</pre></div>
</div>
<p>Make sure a tick, <code class="docutils literal notranslate"><span class="pre">-</span></code> precedes the <code class="docutils literal notranslate"><span class="pre">name:</span></code> attribute (in <code class="docutils literal notranslate"><span class="pre">yaml</span></code> syntax, it symbolizes another item in a list).</p>
<p>It shows up on the <a class="reference external" href="http://www.pyladies.com/locations">locations</a> page as its own little &quot;card&quot;:</p>
<a class="reference internal image-reference" href="../../_images/complete.png"><img alt="Complete Example" class="align-center" src="../../_images/complete.png" style="width: 200px;" /></a>
</div>
<div class="section" id="attributes">
<span id="attrs"></span><h4>Attributes<a class="headerlink" href="#attributes" title="このヘッドラインへのパーマリンク">¶</a></h4>
<dl class="option">
<dt id="cmdoption-arg-name">
<code class="descname">name</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-name" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>required</strong> The <code class="docutils literal notranslate"><span class="pre">name</span></code> attribute sets the name to show up on the <a class="reference external" href="http://www.pyladies.com/locations">locations</a> page.  You can as verbose or minimal as you'd like:</p>
<a class="reference internal image-reference" href="../../_images/name.png"><img alt="Config: name" class="align-center" src="../../_images/name.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-meetup-id">
<code class="descname">meetup_id</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-meetup-id" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>optional</strong> The <code class="docutils literal notranslate"><span class="pre">meetup_id</span></code> actually corresponds to the Meetup Widget on the website.  The code for the Meetup Widget can be found <a class="reference external" href="https://github.com/pyladies/pyladies/blob/master/www/_assets/js/meetup_widget.js">here</a>.</p>
<a class="reference external image-reference" href="https://github.com/pyladies/pyladies/blob/master/www/_assets/js/meetup_widget.js"><img alt="Config: meetup_id" class="align-center" src="../../_images/upcoming_meetups.png" style="width: 300px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-website">
<code class="descname">website</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-website" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>optional</strong> The <code class="docutils literal notranslate"><span class="pre">website</span></code> attribute is the absolute URL for the location's <a class="reference internal" href="local.html"><span class="doc">website</span></a>, or the relative URL for your location's <a class="reference internal" href="#simplepage"><span class="std std-ref">page</span></a> (e.g. <code class="docutils literal notranslate"><span class="pre">atx</span></code> for <code class="docutils literal notranslate"><span class="pre">pyladies.com/locations/atx</span></code>).</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">If it is an absolute URL - e.g. it is <strong>not</strong> relative to the pyladies.com domain (e.g. <code class="docutils literal notranslate"><span class="pre">pyladies.com/locations/atx</span></code>) but is a subdomain (e.g. <code class="docutils literal notranslate"><span class="pre">atx.pyladies.com</span></code>), the <code class="docutils literal notranslate"><span class="pre">external_website</span></code> attribute <strong>needs</strong> to be set to <code class="docutils literal notranslate"><span class="pre">True</span></code>.</p>
</div>
<a class="reference internal image-reference" href="../../_images/website.png"><img alt="Config: website" class="align-center" src="../../_images/website.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-external-website">
<code class="descname">external_website</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-external-website" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>required if location has a subdomain</strong> A boolean flag (if not set, will default to <code class="docutils literal notranslate"><span class="pre">False</span></code>) for when the location has a subdomain.</p>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-image">
<code class="descname">image</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-image" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>required</strong> The <code class="docutils literal notranslate"><span class="pre">image</span></code> attribute is the filename of the location's image that should be placed in the <code class="docutils literal notranslate"><span class="pre">www/_assets/images/</span></code> directory.  You can use a standard one that's already in the repository, or adapt the logo to your location (see <a class="reference internal" href="../logos.html"><span class="doc">Logos</span></a>).</p>
<a class="reference internal image-reference" href="../../_images/image.png"><img alt="Config: image" class="align-center" src="../../_images/image.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-email">
<code class="descname">email</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-email" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>required</strong> The <code class="docutils literal notranslate"><span class="pre">email</span></code> attribute is the location's email address.</p>
<a class="reference internal image-reference" href="../../_images/email.png"><img alt="Config: email" class="align-center" src="../../_images/email.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-twitter">
<code class="descname">twitter</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-twitter" title="この定義へのパーマリンク">¶</a></dt>
<dd></dd></dl>

<dl class="option">
<dt id="cmdoption-arg-github">
<code class="descname">github</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-github" title="この定義へのパーマリンク">¶</a></dt>
<dd></dd></dl>

<dl class="option">
<dt id="cmdoption-arg-facebook">
<code class="descname">facebook</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-facebook" title="この定義へのパーマリンク">¶</a></dt>
<dd></dd></dl>

<dl class="option">
<dt id="cmdoption-arg-google-plus">
<code class="descname">google_plus</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-google-plus" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>optional</strong> The <code class="docutils literal notranslate"><span class="pre">twitter</span></code>, <code class="docutils literal notranslate"><span class="pre">facebook</span></code>, <code class="docutils literal notranslate"><span class="pre">google_plus</span></code>, and <code class="docutils literal notranslate"><span class="pre">github</span></code> attributes are links to the location's handle/account.  You may set as many as you'd like, or none.  If your group uses other social media accounts that you want to publish, please read <a class="reference internal" href="#addingnewlinktypes"><span class="std std-ref">Adding New Link Types</span></a>.</p>
<a class="reference internal image-reference" href="../../_images/twitter.png"><img alt="Config: twitter" class="align-center" src="../../_images/twitter.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-meetup">
<code class="descname">meetup</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-meetup" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>optional</strong> The <code class="docutils literal notranslate"><span class="pre">meetup</span></code> is the Meetup group's URL name - the string that comes after <code class="docutils literal notranslate"><span class="pre">www.meetup.com/</span></code>.  If your group uses a different service than Meetup.com for event publishing (other than your own location's website), please read <a class="reference internal" href="#addingnewlinktypes"><span class="std std-ref">Adding New Link Types</span></a>.</p>
<a class="reference internal image-reference" href="../../_images/meetup.png"><img alt="Config: meetup" class="align-center" src="../../_images/meetup.png" style="width: 200px;" /></a>
</dd></dl>

<dl class="option">
<dt id="cmdoption-arg-location">
<code class="descname">location</code><code class="descclassname"></code><a class="headerlink" href="#cmdoption-arg-location" title="この定義へのパーマリンク">¶</a></dt>
<dd><p><strong>required</strong> The <code class="docutils literal notranslate"><span class="pre">location</span></code> attribute is a map of <code class="docutils literal notranslate"><span class="pre">latitude</span></code> and <code class="docutils literal notranslate"><span class="pre">longitude</span></code>.  If this is set, it will add a pinpoint to the map at the top of the page.  It will automatically pull in all the information, too.</p>
<a class="reference internal image-reference" href="../../_images/coords.png"><img alt="Config: location" class="align-center" src="../../_images/coords.png" style="width: 400px;" /></a>
</dd></dl>

</div>
</div>
<div class="section" id="adding-new-link-types">
<span id="addingnewlinktypes"></span><h3><a class="toc-backref" href="#id13">Adding New Link Types</a><a class="headerlink" href="#adding-new-link-types" title="このヘッドラインへのパーマリンク">¶</a></h3>
<p>If your location uses other social media accounts other than Twitter, Facebook, or GitHub (e.g.  WeChat, Tumblr, LinkedIn, Instagram, vkontakte, Renren, Mixi, whatever), or uses a different event publishing site/medium than Meetup.com (e.g. EventBrite), you're definitely able to publish that.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">Perhaps someone already has done the legwork to add an attribute for your particular site (and these docs aren't updated).  Save yourself some time and check the <code class="docutils literal notranslate"><span class="pre">www/config.yml</span></code>.  You may only have to edit the config file then!</p>
</div>
<div class="section" id="step-1-pick-a-config-attribute">
<h4>Step 1: Pick a Config Attribute<a class="headerlink" href="#step-1-pick-a-config-attribute" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>We'll do a full example.  Let's say that Twitter was not already there, and we wanted to add it.</p>
<p>We should start by picking a good config attribute (similar to the <a class="reference internal" href="#attrs"><span class="std std-ref">Attributes</span></a> above).  A good config attribute here would be simply <code class="docutils literal notranslate"><span class="pre">twitter</span></code>:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">A New PyLadies City, Foo</span>
  <span class="l l-Scalar l-Scalar-Plain">twitter</span><span class="p p-Indicator">:</span>  <span class="l l-Scalar l-Scalar-Plain">twitter.com/foo-pyladies</span>
</pre></div>
</div>
</div>
<div class="section" id="step-2-pick-an-icon">
<h4>Step 2: Pick an Icon<a class="headerlink" href="#step-2-pick-an-icon" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>We currently already use <a class="reference external" href="http://www.entypo.com/">entypo</a>.  If you find an icon that you'd like to use that <a class="reference external" href="http://www.entypo.com/">entypo</a> already has, take note of its name.  You can do this by right-clicking the icon you like on the <a class="reference external" href="http://www.entypo.com/">entypo</a> site and select &quot;Inspect Element&quot; to see the name of it:</p>
<div class="figure align-center" id="id8">
<a class="reference internal image-reference" href="../../_images/entypo_icon_name.png"><img alt="Entypo Icon Name" src="../../_images/entypo_icon_name.png" style="width: 600px;" /></a>
<p class="caption"><span class="caption-text">The icon name here would be <code class="docutils literal notranslate"><span class="pre">twitter</span></code> (not including the <code class="docutils literal notranslate"><span class="pre">.svg</span></code> or <code class="docutils literal notranslate"><span class="pre">images/</span></code>).</span></p>
</div>
<p>If <a class="reference external" href="http://www.entypo.com/">entypo</a> doesn't have an icon that matches your social network, or that you like, read on to <a class="reference internal" href="#addingicons"><span class="std std-ref">Adding non-Entypo Icons</span></a>.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">All the <a class="reference external" href="http://www.entypo.com/">entypo</a> icons (e.g. the actual pictures/fonts) are already in the PyLadies repository.</p>
</div>
</div>
<div class="section" id="step-3-add-icon-to-html-template">
<span id="step3"></span><h4>Step 3: Add Icon to HTML Template<a class="headerlink" href="#step-3-add-icon-to-html-template" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>Next, in your text editor, open up the location's template file, <code class="docutils literal notranslate"><span class="pre">www/locations/index.html</span></code>. Then, where it says <code class="docutils literal notranslate"><span class="pre">&lt;h3</span> <span class="pre">class=&quot;chpts</span> <span class="pre">social-icons&quot;&gt;</span></code> add the Jinja template information.</p>
<p>The following example uses the above <code class="docutils literal notranslate"><span class="pre">twitter</span></code> icon previously selected:</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% if chapter.twitter %}
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ chapter.twitter }}&quot;</span> <span class="na">title</span><span class="o">=</span><span class="s">&quot;Twitter Link&quot;</span><span class="p">&gt;&lt;</span><span class="nt">i</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;twitter&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">i</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
</div>
<p>The <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">if</span> <span class="pre">chapter.twitter</span> <span class="pre">%}</span></code> checks to see if there's a config attribute set for a chapter, and if it is, it will create a link using the value that is set.</p>
<p>Notice <code class="docutils literal notranslate"><span class="pre">&lt;i</span> <span class="pre">class=&quot;twitter&quot;&gt;&lt;/i&gt;</span></code> - this will actually put the icon (named <code class="docutils literal notranslate"><span class="pre">twitter</span></code>, which we figured out in the previous step) there, and make a link.</p>
</div>
<div class="section" id="step-4-add-your-config-commit-push">
<h4>Step 4: Add your Config, Commit, &amp; Push!<a class="headerlink" href="#step-4-add-your-config-commit-push" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>Save your edits, and test to see if it looks okay (refer to <a class="reference internal" href="#usingmynt"><span class="std std-ref">Using mynt</span></a> for how to test your changes).</p>
<p>If all looks good, then commit, push to <strong>your</strong> fork of the PyLadies repository, then submit a pull request!</p>
</div>
<div class="section" id="adding-non-entypo-icons">
<span id="addingicons"></span><h4>Adding non-Entypo Icons<a class="headerlink" href="#adding-non-entypo-icons" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>If your icon isn't made by <a class="reference external" href="http://www.entypo.com/">entypo</a>, you don't like any of them, or found an icon elsewhere (e.g. <a class="reference external" href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>), follow their instructions for setting up their icons.</p>
<p>You still must follow <a class="reference internal" href="#step3"><span class="std std-ref">Step 3: Add Icon to HTML Template</span></a> for the icon to show up in the template.  The Jinja2 syntax is the same (e.g. <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">if</span> <span class="pre">chapter.twitter</span> <span class="pre">%}</span></code> or <code class="docutils literal notranslate"><span class="pre">{{</span> <span class="pre">chapter.twitter</span> <span class="pre">}}</span></code>), but the HTML to represent the icon itself may be different.  Again, refer to their particular instructions.</p>
</div>
</div>
</div>
<div class="section" id="making-a-simple-location-page">
<span id="simplepage"></span><h2><a class="toc-backref" href="#id14">Making a Simple Location Page</a><a class="headerlink" href="#making-a-simple-location-page" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p>Don't have time to make your <a class="reference internal" href="local.html"><span class="doc">Creating your own Local Website</span></a>?  Not a problem - if you have a few minutes, you can make a simple &quot;place holder&quot; page.</p>
<p>For the sake of having an example, let's say our new location is &quot;Foo City&quot;</p>
<ol class="arabic simple">
<li>Create a directory within <code class="docutils literal notranslate"><span class="pre">www/locations</span></code> named after your location (this will be your URL path - e.g. <code class="docutils literal notranslate"><span class="pre">www.pyladies.com/locations/foo</span></code>).</li>
<li>Create a new <code class="docutils literal notranslate"><span class="pre">index.html</span></code> within the directory you just created.</li>
<li>Copy &amp; edit the following HTML/Jinja template to the <code class="docutils literal notranslate"><span class="pre">index.html</span></code> file.</li>
</ol>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &quot;site.html&quot; %}
{% block title %}PyLadies Foo City{% endblock %}
{% block content %}
    &lt;section id=&quot;archive&quot;&gt;
        &lt;h1&gt;PyLadies Foo City&lt;/h1&gt;
            &lt;article&gt;
                &lt;ul class=&quot;social&quot;&gt;
                    &lt;aside&gt;
                        &lt;h4&gt;&lt;a href=&quot;{{ get_url(&quot;locations/foo&quot;) }}&quot;&gt;Foo City&lt;/a&gt; | &lt;a class=&quot;social icon vcard&quot; data-icon=&quot;&amp;#59170;&quot; href=&quot;mailto:foocity@pyladies.com&quot; title&quot;Contact&quot;&gt;&lt;/a&gt;&lt;a class=&quot;social icon twitter&quot; data-icon=&quot;&amp;#62217;&quot; title=&quot;Twitter&quot; href=&quot;https://twitter.com/pyladies_foo&quot;&gt;&lt;/a&gt;&lt;a class=&quot;social icon location&quot; data-icon=&quot;&amp;#59172;&quot; title=&quot;Meetup Link&quot; href=&quot;http://www.meetup.com/pyladies-foo&quot;&gt;&lt;/a&gt;&lt;/h4&gt;

                    &lt;/aside&gt;
                &lt;/ul&gt;
            &lt;/article&gt;
    &lt;/section&gt;
{% endblock %}
</pre></div>
</div>
<p>Once your done, test how it looks (refer to <a class="reference internal" href="#usingmynt"><span class="std std-ref">Using mynt</span></a> to see how).  Then commit your code, push to your fork of the repository, then open a pull request!  You can see what others have done within the <code class="docutils literal notranslate"><span class="pre">www/locations</span></code> directory as well.</p>
</div>
<div class="section" id="blogging-or-writing-a-resource-for-the-main-website">
<h2><a class="toc-backref" href="#id15">Blogging or Writing a Resource for the Main Website</a><a class="headerlink" href="#blogging-or-writing-a-resource-for-the-main-website" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p>Want to write a blog post, or cross-post from your blog to PyLadies?  Or perhaps you wrote an awesome resource about how to get the most out of your favorite text editor, or how to setup your development environment for Django?  Fantastic!</p>
<div class="section" id="making-a-blog-post">
<h3><a class="toc-backref" href="#id16">Making a Blog Post</a><a class="headerlink" href="#making-a-blog-post" title="このヘッドラインへのパーマリンク">¶</a></h3>
<p>We accept posts (from anyone!) for the PyLadies blog. Here is a guest post that you should read as samples of what we're looking for: <a class="reference external" href="http://www.pyladies.com/blog/get-the-most-out-of-your-conference-going-experience/">Get the Most Out of Your Conference-Going Experience</a>.</p>
<div class="section" id="topics">
<h4>Topics<a class="headerlink" href="#topics" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>We're looking for posts about Python and the ladies doing cool things with it. Our audience includes both experts and newer programmers. If you're writing a more expert level post, consider pointing newer programmers to resources to get started with.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">We reserve the right to decline posts, or work to improve the work of the post.</p>
</div>
</div>
<div class="section" id="attribution">
<h4>Attribution<a class="headerlink" href="#attribution" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>Cite your sources! Either link to them in your post, or the old-fashioned academic Chicago MLA style of &quot;quoting someone's work&quot;(FooPyLady) with an entry for &quot;FooPyLady&quot; at the bottom of your post (or any other MLA styling).</p>
<p><strong>Also</strong> Please include whether:</p>
<ol class="arabic simple">
<li>You want to be noted as the author</li>
<li>If so, what name you want to use</li>
<li>If we can link to you somehow, either through Twitter handle, email, or website.</li>
</ol>
<p>Anonymous submissions are fine.</p>
</div>
<div class="section" id="length">
<h4>Length<a class="headerlink" href="#length" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>Posts should be 500 words in length. If your post is much longer (thousands of words), consider whether it could be broken into two connected posts.</p>
</div>
<div class="section" id="images">
<h4>Images<a class="headerlink" href="#images" title="このヘッドラインへのパーマリンク">¶</a></h4>
<p>If you wish to include images, they must be 500 pixels wide or less. You must own the images you're submitting, or they must be available under a Creative Commons license.</p>
<p>The <a class="reference external" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax is a bit limiting when wanting to add style to the image.  Therefore, if you want to add style to it (e.g. different alignment than default, add a border, rounded corners, etc.) then just write plain HTML inside your Markdown document.</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;{{ get_asset(&#39;images/foo.png&#39;) }}&quot;</span> <span class="na">width</span><span class="o">=</span><span class="s">&quot;400&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;my-foo-image&quot;</span> <span class="na">style</span><span class="o">=</span><span class="s">&quot;any extra styling&quot;</span><span class="p">/&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="formatting-the-blog-post-file">
<span id="blogheaders"></span><h4>Formatting the Blog Post File<a class="headerlink" href="#formatting-the-blog-post-file" title="このヘッドラインへのパーマリンク">¶</a></h4>
<ol class="arabic">
<li><p class="first">Write your guest post in Markdown and save it in the <code class="docutils literal notranslate"><span class="pre">www/_posts</span></code> directory.</p>
<blockquote>
<div><ul class="simple">
<li>Suggestion #1: Mou.app for mac is created for Markdown - gives you a preview while you write</li>
<li>Suggestion #2: <a class="reference external" href="http://dillinger.io/">dillinger</a> is a web app that provides a live preview when you're writing in Markdown.</li>
<li>A <a class="reference external" href="http://daringfireball.net/projects/markdown/syntax">cheatsheet</a> for Markdown commands.</li>
</ul>
</div></blockquote>
</li>
<li><p class="first">The very top of the blog post needs the following (including the three dashes before and after the layout/title/tags):</p>
</li>
</ol>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="nn">---</span>
<span class="l l-Scalar l-Scalar-Plain">layout</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">post.html</span>
<span class="l l-Scalar l-Scalar-Plain">title</span><span class="p p-Indicator">:</span> <span class="s">&quot;Your</span><span class="nv"> </span><span class="s">title</span><span class="nv"> </span><span class="s">here&quot;</span>
<span class="l l-Scalar l-Scalar-Plain">tags</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span><span class="nv">list</span><span class="p p-Indicator">,</span> <span class="nv">of relevant</span><span class="p p-Indicator">,</span> <span class="nv">tags</span><span class="p p-Indicator">]</span>
<span class="l l-Scalar l-Scalar-Plain">author</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Name, or blank/none</span>
<span class="l l-Scalar l-Scalar-Plain">author_link</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Twitter/Blog/etc or blank/none</span>
<span class="nn">---</span>
</pre></div>
</div>
</div>
<div class="section" id="id2">
<h4>Process<a class="headerlink" href="#id2" title="このヘッドラインへのパーマリンク">¶</a></h4>
<ol class="arabic simple">
<li>Setup your machine by following the <a class="reference internal" href="#setupenv"><span class="std std-ref">Setup your Machine</span></a> instructions .</li>
<li>Save the file in <code class="docutils literal notranslate"><span class="pre">www/_posts</span></code>.</li>
<li>Test your changes locally. Start up mynt as per the <a class="reference internal" href="#usingmynt"><span class="std std-ref">instructions below</span></a>.</li>
<li>Make sure that your changes look good, and that there are no errors or formatting issues. If you find problems, stop mynt, make the changes, restart, and check the site again.</li>
<li>Commit your changes, and push to <strong>your</strong> fork of the <a class="reference external" href="https://github.com/pyladies/pyladies">pyladies/pyladies</a> repository.</li>
<li>Create a pull request against the <a class="reference external" href="https://github.com/pyladies/pyladies">pyladies/pyladies</a> repo.</li>
</ol>
<p>When you submit a pull request, everyone with commit access for Pyladies will see it.  You may also ping the <a class="reference external" href="mailto:pyladies-group-organizers&#37;&#52;&#48;googlegroups&#46;com">organizers list</a> for more eyes to review.</p>
</div>
</div>
<div class="section" id="writing-a-resource">
<h3><a class="toc-backref" href="#id17">Writing a Resource</a><a class="headerlink" href="#writing-a-resource" title="このヘッドラインへのパーマリンク">¶</a></h3>
<p>If you want to write your own resources, like Barbara's <a class="reference external" href="http://www.pyladies.com/blog/intro-python-april-6-recap/">beginner workshop notes</a> or Juliana's <a class="reference external" href="http://www.pyladies.com/blog/Get-Your-Mac-Ready-for-Python-Programming/">Mac setup</a>, in addition to <a class="reference internal" href="#blogheaders"><span class="std std-ref">the headers for blogging</span></a>, you will need to add more items in the header portion, like so:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="nn">---</span>
<span class="l l-Scalar l-Scalar-Plain">layout</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">post.html</span>
<span class="l l-Scalar l-Scalar-Plain">title</span><span class="p p-Indicator">:</span> <span class="s">&quot;Your</span><span class="nv"> </span><span class="s">title</span><span class="nv"> </span><span class="s">here&quot;</span>
<span class="l l-Scalar l-Scalar-Plain">tags</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span><span class="nv">list</span><span class="p p-Indicator">,</span> <span class="nv">of relevant</span><span class="p p-Indicator">,</span> <span class="nv">tags</span><span class="p p-Indicator">]</span>
<span class="l l-Scalar l-Scalar-Plain">author</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Name, or blank/none</span>
<span class="l l-Scalar l-Scalar-Plain">author_link</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Twitter/Blog/etc or blank/none</span>
<span class="l l-Scalar l-Scalar-Plain">category</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span><span class="nv">resources</span><span class="p p-Indicator">,</span> <span class="nv">pyladies</span><span class="p p-Indicator">]</span>
<span class="nn">---</span>
</pre></div>
</div>
<p>Notice that <code class="docutils literal notranslate"><span class="pre">pyladies</span></code> and <code class="docutils literal notranslate"><span class="pre">resources</span></code> are required in for <code class="docutils literal notranslate"><span class="pre">category</span></code>.</p>
<p>Once done, save it in <code class="docutils literal notranslate"><span class="pre">www/_posts/</span></code> with the date and title in the name of the file, like so: <code class="docutils literal notranslate"><span class="pre">2013-04-21-lynns-awesome-resource.md</span></code>.  The title portion of the filename, <code class="docutils literal notranslate"><span class="pre">lynns-awesome-resource</span></code>, will end up being the URL of the post, e.g. <code class="docutils literal notranslate"><span class="pre">pyladies.com/blog/lynns-awesome-resource</span></code>.</p>
</div>
</div>
<div class="section" id="developing-the-main-website">
<h2><a class="toc-backref" href="#id18">Developing the Main Website</a><a class="headerlink" href="#developing-the-main-website" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p>Is there some CSS inconsistency that's bugging you?  Is the site missing some accessibility?  Want to add a new page or content?  Cool!  Here's how to get started.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">When changing the website or adding content - beyond adding your location information - it is a good idea to email the <a class="reference external" href="mailto:pyladies-group-organizers&#37;&#52;&#48;googlegroups&#46;com">organizers list</a> to ask for others' feedback on your ideas, either before you start developing, or when you make the pull request.</p>
</div>
<div class="section" id="current-layout">
<h3><a class="toc-backref" href="#id19">Current Layout</a><a class="headerlink" href="#current-layout" title="このヘッドラインへのパーマリンク">¶</a></h3>
<p>The website lives in the <a class="reference external" href="https://github.com/pyladies/pyladies">pyladies/pyladies</a>, as well as many locations' websites, where <code class="docutils literal notranslate"><span class="pre">www</span></code> is the main website, and the other directories map to subdomains, more or less.</p>
<p>The website consists of just static HTML, CSS, and some client-side JavaScript.  We use <a class="reference external" href="http://mynt.uhnomoli.com/">mynt</a> to convert <a class="reference external" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> files into HTML files (using <a class="reference external" href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> templates).</p>
<p>The general layout for the <code class="docutils literal notranslate"><span class="pre">www</span></code> directory:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>.
├── _assets        # JavaScript, images/logos, fonts, and CSS stuff goes here
├── _posts         # these are the blog posts written in markdown
├── _templates     # these are the base templates that other things use.
├── about/         # any directory maps to a URL path, e.g. www.pyladies.com/about,
├── archives/      #     and contains its HTML Jinja template
├── blog/
├── CodeOfConduct/
├── config.yml     # configuration for the overall site
├── feed.xml       # RSS feed that is automatically generated
├── index.html     # HTML Jinja template for the main page, www.pyladies.com
├── locations/
├── resources/
└── sponsor/
</pre></div>
</div>
<p>When you first run <code class="docutils literal notranslate"><span class="pre">mynt</span></code> (detailed below), it will also create a <code class="docutils literal notranslate"><span class="pre">_site</span></code> directory, where the complete site will be living.  This <code class="docutils literal notranslate"><span class="pre">_site</span></code> directory is <strong>not</strong> committed within the repository.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">The HTML files here are just <em>templates</em>.  You must first run <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">gen</span> <span class="pre">-f</span> <span class="pre">_site</span></code> (<a class="reference internal" href="#usingmynt"><span class="std std-ref">detailed below</span></a>) to generate the HTML to see what will be on the website.</p>
</div>
</div>
</div>
<div class="section" id="using-mynt">
<span id="usingmynt"></span><h2><a class="toc-backref" href="#id20">Using mynt</a><a class="headerlink" href="#using-mynt" title="このヘッドラインへのパーマリンク">¶</a></h2>
<p><a class="reference external" href="http://mynt.uhnomoli.com/">mynt</a> is a simple static site generator written in Python.</p>
<p>When you've added or edited content in any way, you can check out your changes by running the website locally.  To do so:</p>
<ol class="arabic">
<li><p class="first">Set up your machine following the <a class="reference internal" href="#setupenv"><span class="std std-ref">Setup your Machine</span></a> instructions.</p>
</li>
<li><p class="first">With the activated <a class="reference external" href="http://simononsoftware.com/virtualenv-tutorial/">virtualenv</a>, make sure you're in the <code class="docutils literal notranslate"><span class="pre">www</span></code> directory, then run:</p>
<blockquote>
<div><div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="o">(</span>env<span class="o">)</span> $ mynt gen -f _site
<span class="o">(</span>env<span class="o">)</span> $ mynt serve _site
</pre></div>
</div>
</div></blockquote>
</li>
<li><p class="first">Copy the IP address provided once mynt has completed building the site. (It will say something like <code class="docutils literal notranslate"><span class="pre">&gt;&gt;</span> <span class="pre">Serving</span> <span class="pre">at</span> <span class="pre">127.0.0.1:8080</span></code>), then paste the IP address into the URL bar of a browser window and load it to view the site.</p>
</li>
<li><p class="first">To view any changes you make to the site code, type <code class="docutils literal notranslate"><span class="pre">ctrl``+``c</span></code> in the terminal to stop the local server, then run the two <code class="docutils literal notranslate"><span class="pre">mynt</span></code> commands from Step 2 again and refresh the browser window.</p>
</li>
</ol>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p class="last">If you wish to run the <code class="docutils literal notranslate"><span class="pre">mynt</span></code> server (aka <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">serve</span> <span class="pre">_site</span></code>) on a different port, use the <code class="docutils literal notranslate"><span class="pre">-p</span></code> option:  <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">serve</span> <span class="pre">_site</span> <span class="pre">-p</span> <span class="pre">5050</span></code>.</p>
</div>
<p>The <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">gen</span> <span class="pre">-f</span> <span class="pre">_site</span></code> &quot;compiles&quot; the Markdown files into the Jinja2 template files (and does some other linking magic for CSS, JavaScript, images, fonts, etc) and spits out the output into the <code class="docutils literal notranslate"><span class="pre">_site</span></code> directory.  This is actually what gets deployed (but is <strong>not</strong> committed to the repo!).</p>
<p>The <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">serve</span> <span class="pre">_site</span></code> command runs a simple HTTP server for you to view local changes.</p>
<div class="admonition note">
<p class="first admonition-title">注釈</p>
<p><strong>TIP!</strong>  If you are having to stop the server, make your changes, run the two mynt commands many times, try the following:</p>
<ol class="last arabic">
<li><p class="first">Have two terminal windows/spaces open.</p>
</li>
<li><p class="first">In one terminal window/space:</p>
<blockquote>
<div><ol class="arabic simple">
<li>Move to the <code class="docutils literal notranslate"><span class="pre">www</span></code> directory, and then run <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">gen</span> <span class="pre">-f</span> <span class="pre">_site</span></code> (with your activated virtualenv) just once.</li>
<li>Then run <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">watch</span> <span class="pre">-f</span> <span class="pre">_site</span></code> - mynt will then watch for any changes saved to the file and re-run <code class="docutils literal notranslate"><span class="pre">mynt</span> <span class="pre">gen</span> <span class="pre">-f</span> <span class="pre">_site</span></code> for you.</li>
</ol>
</div></blockquote>
</li>
<li><p class="first">In the other terminal window/space:</p>
<blockquote>
<div><ol class="arabic simple">
<li>Move into the <code class="docutils literal notranslate"><span class="pre">www/_site</span></code> directory.</li>
<li>If running Python 2.x, run <code class="docutils literal notranslate"><span class="pre">python</span> <span class="pre">-m</span> <span class="pre">SimpleHTTPServer</span> <span class="pre">8080</span></code> (or whatever port you'd like)</li>
<li>If running Python 3.x - to be honest, not sure if mynt supports running on Python 3, but if it does - run <code class="docutils literal notranslate"><span class="pre">python</span> <span class="pre">-m</span> <span class="pre">http.server</span> <span class="pre">8080</span></code></li>
</ol>
</div></blockquote>
</li>
<li><p class="first">Now whatever changes you make &amp; save, you'll just have to refresh your browser.</p>
</li>
</ol>
</div>
</div>
</div>


          <footer>
  
    <div class="rst-footer-buttons">
      
        <a href="local.html" class="btn btn-neutral float-right" title="Creating your own Local Website"/>Next <span class="icon icon-circle-arrow-right"></span></a>
      
      
        <a href="../eventhosting/advice.html" class="btn btn-neutral" title="Advice"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <p>
      &copy; Copyright 2014-2020, PyLadies.
  </p>

  <a href="https://www.github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="http://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  

</body>
</html>